[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
rope = "*"
pylint = "*"
pytest = "*"

[packages]
appdirs = "==1.4.3"
attrs = "==19.3.0"
click = "==7.0"
cvxpy = "==1.1.6"
decorator = "==4.4.1"
dill = "==0.3.1.1"
ecos = "==2.0.7.post1"
future = "==0.18.2"
multiprocess = "==0.70.9"
networkx = "==2.4"
osqp = "==0.6.1"
pathspec = "==0.7.0"
regex = "==2020.1.8"
scipy = "==1.4.1"
scs = "==2.1.1.post2"
six = "==1.14.0"
toml = "==0.10.0"
typed-ast = "==1.4.1"
geopy = "*"
numpy = "*"

[requires]
python_version = "3.8"
