[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
numpy = "*"
cvxpy = "*"
flake8 = "*"
gurobipy = {index = "https://pypi.gurobi.com", version = "*"}
frozendict = "*"

[dev-packages]
black = "==20.8b1"
pytest = "*"
